* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
  }
  
  :root {
    --blue: #ea7f15;
    --black: #161616;
    --light-color: #777;
    --color: #fff;
    --background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.815));
  }
  
  .containerAbout {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background: #050505;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .about {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.308);
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  .aboutMe {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-template: 30px;
    padding: 20px;
  }
  
  .aboutMe h1 span {
    color: #ea7f15;
  }
  
  .aboutMe p {
    color: #bbbbbb;
    font-size: 15px;
    margin: 20px 0;
  }
  
  .aboutMe p:nth-child(3) {
    margin-bottom: 30px;
  }
  
  .myWaysAboutMe {
    width: 100%;
    height: 100%;
    padding-left: 20%;
  }
  
  .myWaysAboutMe label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  
  .myWaysAboutMe label span h2 {
    margin: 0;
    color: #856340;
    font-size: 18px;
  }
  
  .myWaysAboutMe label span p {
    font-size: 14px;
    color: #eeeeee;
    margin-top: 0;
  }
  
  .myWaysAboutMe label span img {
    width: 30px;
  }
  
  .findOutMore {
    color: #ea7f15;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #e29e5a;
    margin-top: 30px;
    transition: 0.2s;
  }
  
  .findOutMore:hover {
    color: whitesmoke;
    background: #e29e5a41;
  }
  
  .aboutsmall {
    padding: 220px;
    border: 1px solid #e29e5a41;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    left: -60px;
    z-index: 1;
    overflow: hidden;
  }
  
  strong {
    padding: 220px;
    background:#5a442f11;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    right: -60px;
    top: -20px;
    z-index: 1;
    overflow: hidden;
  }
  
  .navbar {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.562);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    left: 100%;
    transition: 1s;
  }
  .navbar label h1 span {
    color: #e29e5a;
    font-size: 3.2rem;
  }
  
  .navbar.active {
    left: 0%;
  }
  
  .navbar {
    margin-top: 30px;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  
  .navbar ul li {
    list-style: none;
    margin: 10px 0;
    border: 1px solid #ea7f15;
    padding: 10px 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .navbar ul li:hover {
    background: #e29e5a46;
    cursor: pointer;
  }
  
  .navbar h4 {
    position: absolute;
    left: 0;
    top: 40%;
    color: #777;
    transform: rotate(270deg);
    background: rgba(0, 0, 0, 0.377);
    margin: 0;
  }
  
  #toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #ea7f15;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    z-index: 10;
  }
  
  #toggle.active {
    background: rgba(241, 57, 94, 0.726);
  }
  
  #toggle::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
  }
  
  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }
  
  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
  
  #toggle::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
  }
  
  
  @media only screen and (max-width: 768px) {
    .about {
      height: 100%;
    }
    .aboutMe {
      height: 100%;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    .myWaysAboutMe {
      width: 100%;
      height: 100%;
      padding-left: 0;
      margin-top: 50px;
      border-top: 2px solid #e29e5a;
    }
  
    .myWaysAboutMe label span p {
      font-size: 15px;
      color: #777;
      margin-top: 0;
    }
  }
  
  @media only screen and (min-width: 510px) and (max-width: 768px) {
    .myWaysAboutMe label {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      margin-top: 20px;
    }
  }