* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
  }
  
  :root {
    --blue: #ea7f15;
    --black: #161616;
    --light-color: #777;
    --color: #fff;
    --background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.904));
  }
  
  .containerContact {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background: var(--background), url(../../Images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #161616; */
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  .contactMe {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-template: 30px;
    padding: 20px;
  }
  
  .contactMe .getIntouch {
    padding: 20px;
    text-align: end;
  }
  
  .contactMe .getIntouch h1 {
    text-transform: capitalize;
    font-size: 1.8em;
  }
  
  .contactMe .getIntouch h1 strong {
    color: #ea7f15;
    font-weight: 300;
    font-size: 1.3em;
  }
  
  .contactMe .messageBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contactMe .messageBox .div {
    text-align: center;
  }
  .contactMe .messageBox .div .inputBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: 20px;
  }
  
  .contactMe .messageBox .div .inputBox span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px;
  }
  
  .contactMe .messageBox .div .inputBox span label {
    color: #777;
  }
  
  .contactMe .messageBox .div .inputBox span input {
    border: 1px solid #ea7f15;
    background: transparent;
    padding: 10px;
    outline: none;
    color: whitesmoke;
  }
  
  .contactMe .messageBox .div .inputBox span input:focus {
    border: 1px solid #75431175;
    outline: #75431175;
  }
  
  .contactMe .messageBox .div .messageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0 40px;
  }
  
  .contactMe .messageBox .div .messageContent label {
    color: #777;
  }
  
  .contactMe .messageBox .div .messageContent textarea {
    border: 1px solid #ea7f15;
    background: transparent;
    padding: 10px;
    outline: none;
    color: whitesmoke;
    width: 100%;
    height: 200px;
  }
  
  .contactMe .messageBox .div .messageContent textarea:focus {
    border: 1px solid #75431175;
    outline: #75431175;
  }
  
  .contactMe button {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    color: #ea7f15;
    text-decoration: none;
    border: 1px solid #ea7f15;
    background: transparent;
  }
  
  
  .contactMe button:hover{
      color: #fff;
      text-decoration: none;
      border: 1px solid #ea7f15;
      background: #8058314d;
      cursor: pointer;
    }
  
    .socialLinks{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 30px;
      row-gap: 20px;
      text-align: end;
    }
  
    .socialLinks a{
     width: initial;
     padding: 0;
     border: none;
    }
  
    .socialLinks a:hover{
      width: initial;
      padding: 0;
      border: none;
      background: transparent;
     }
  
  
    .socialLinks img{
      width: 30px;
      height: 30px;
    }
  
    .contactMe .getIntouch label{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  
    .contactMe .getIntouch label .signal{
      width: 130px;
      align-self: center;
      margin-left: 30%;
    }
    
    
  .navbar {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.562);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    left: 100%;
    transition: 1s;
  }
  
  .navbar.active {
    left: 0%;
  }
  
  .navbar {
    margin-top: 30px;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  
  .navbar ul li {
    list-style: none;
    margin: 10px 0;
    border: 1px solid #ea7f15;
    padding: 10px 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .navbar ul li:hover {
    background: #e29e5a46;
    cursor: pointer;
  }
  
  .navbar h4 {
    position: absolute;
    left: 0;
    top: 40%;
    color: #777;
    transform: rotate(270deg);
    background: rgba(0, 0, 0, 0.377);
    margin: 0;
  }
  
  #toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #ea7f15;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    z-index: 10;
  }
  
  #toggle.active {
    background: rgba(241, 57, 94, 0.726);
  }
  
  #toggle::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
  }
  
  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }
  
  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
  
  #toggle::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
  }
  
  .homeLink{
    color: #ea7f15;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.562);
  }
  
  .homeLink:hover{
    border: 1px solid #e29e5a;
  }
  
    @media only screen and (max-width: 768px) {
      .contact{
          height: 100%;
      }
  
      .contactMe {
          grid-template-columns: 1fr;
        }
        .contactMe .getIntouch label{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
        }
  
        .socialLinks{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          gap: 20px;
          text-align: end;
        }
  
        .contactMe .messageBox .div .inputBox {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          grid-area: 20px;
        }
  
  
        .contactMe .getIntouch {
          padding: 20px;
          text-align: start;
          margin-bottom: 30px;
          border-bottom: 1px solid #8058314d;
        }
        
        .contactMe .getIntouch h1 {
          text-transform: capitalize;
          font-size: 1.5em;
        }
        
        .contactMe .getIntouch label .signal{
          width: 80%;
          align-self: center;
          margin-left: 0;
        }
    }

    @media only screen and (min-width: 410px) and (max-width: 768px) {
      .contactMe .getIntouch label .signal{
        width: 50%;
        align-self: center;
        margin-left: 0;
      }
    }